* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Comic Sans MS", sans-serif;
    color: black;
    background-color: whitesmoke;
}
h1 {
    text-align: center;
    margin: 25px;
}
.block {
    position: relative;
    float: left;
    height: 25%;
    border: 2px solid black;
    background-color: gray;
    margin: 10px;
}
.logo {
    float: right;
    clear: right;
    width: 100px;
    margin: 0 0 5px 0;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
}
.chicken {
    background-color: #ff9aa6;
}
.beef {
    background-color: brown;
    color: white;
}
.sushi {
    background-color: #fff593;
}
.text {
    position: relative;
    clear: right;
    margin: 10px;
    overflow: auto;
}

@media (min-width: 992px) {
    .block {
        width: calc(33.33% - 20px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .one, .two {
        width: calc(50% - 20px);
    }
    .three {
        width: calc(100% - 20px);
    }
}

@media (max-width: 767px) {
    .block {
        width: calc(100% - 20px);
    }
}

/*#footer-link {*/
/*    position: relative;*/
/*    top: 360px;*/
/*    margin: 10px;*/
/*    float: right;*/
/*}*/
/*#module-link, #module-link:visited, #module-link:active {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*}*/